.container-main{
    width: 100%;
    height: 90vh;
}
.container-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-map{
    width: 50%;
}

.container-home{
    display: flex;
}

.cards{
    width: 80vw;
}