name: Auto Assign Reviewers

on:
  pull_request:
    types: [opened, reopened]

jobs:
  add-reviewers:
    runs-on: ubuntu-latest

    steps:
      - name: Assign reviewers
        uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          config: .github/auto_assign.yml
