name: Angular CI

on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - develop
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      # Install Chrome
      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Configure Chrome headless
        run: |
          export CHROME_BIN=$(which chrome)
          echo "Using chrome at $CHROME_BIN"

      # Run Tests Headless
      - name: Run tests (Headless Chrome)
        env:
          CHROME_BIN: /usr/bin/google-chrome
        run: |
          npm test -- --watch=false --browsers=ChromeHeadless --no-sandbox

      # Build Angular project
      - name: Build
        run: npm run build
